.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--semantic-background-gradient);
}

.nav {
  height: 100%;
  overflow: visible;
  transition: width 0.3s ease-in-out;
  /* background: var(--semantic-background-gradient); */
}

.navFloating {
  position: absolute;
  z-index: 10;
}

.navRelative {
  position: relative;
  z-index: 1;
}

.navContent {
  transition: width 0.3s ease-in-out;
  background: var(--semantic-background-gradient);
  background-attachment: fixed;
}

.mainContent {
  height: 100%;
  position: relative;
  flex-shrink: 0;
  transition: width 0.3s ease-in-out;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-x-large, 32px);
  padding: var(--spacing-3x-large, 64px);
  overflow-y: auto;
}

.mainContentResizing {
  transition: none;
}

.divider {
  width: 2px;
  height: 100%;
  cursor: col-resize;
  background-color: var(--semantic-separator);
  position: relative;
  flex-shrink: 0;
  user-select: none;
}

.dividerLine {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  transform: translateX(-50%);
}

.detailPanel {
  height: 100%;
  flex-shrink: 0;
  transition: width 0.3s ease-in-out;
  background: var(--semantic-background-gradient);
  background-attachment: fixed;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.detailPanelResizing {
  transition: none;
}
