.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--semantic-content-secondary);
}

.icon {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
