.canvas {
  flex: 1;
  min-width: 0;
  height: 100%;
  overflow: auto;
  background-image: radial-gradient(
    circle at center,
    var(--semantic-background-secondary) 1px,
    transparent 1px
  );
  background-size: 8px 8px;
}
