:root {
  /* Chart Tokens */
  --chart-categorical-category1: #DF5900;
  --chart-categorical-category10: #25947D;
  --chart-categorical-category11: #E043AF;
  --chart-categorical-category12: #938500;
  --chart-categorical-category2: #B57700;
  --chart-categorical-category3: #2A9742;
  --chart-categorical-category4: #768B50;
  --chart-categorical-category5: #F73935;
  --chart-categorical-category6: #778692;
  --chart-categorical-category7: #75817E;
  --chart-categorical-category8: #218FB7;
  --chart-categorical-category9: #2090A8;
  --chart-diverging-on-dark-negative-dark: #FF453A;
  --chart-diverging-on-dark-negative-light: #FFDAD6;
  --chart-diverging-on-dark-negative-mid: #FF9F95;
  --chart-diverging-on-dark-negative-subtle-dark: #C78200;
  --chart-diverging-on-dark-negative-subtle-light: #FFDDB5;
  --chart-diverging-on-dark-negative-subtle-mid: #FF9F0A;
  --chart-diverging-on-dark-positive-dark: #2EA549;
  --chart-diverging-on-dark-positive-light: #6BFF83;
  --chart-diverging-on-dark-positive-mid: #30D158;
  --chart-diverging-on-dark-positive-subtle-dark: #2B9DB7;
  --chart-diverging-on-dark-positive-subtle-light: #AEECFF;
  --chart-diverging-on-dark-positive-subtle-mid: #57C7E3;
  --chart-diverging-on-light-negative-dark: #7D0008;
  --chart-diverging-on-light-negative-light: #F73935;
  --chart-diverging-on-light-negative-mid: #C00013;
  --chart-diverging-on-light-negative-subtle-dark: #543500;
  --chart-diverging-on-light-negative-subtle-light: #B57700;
  --chart-diverging-on-light-negative-subtle-mid: #835500;
  --chart-diverging-on-light-positive-dark: #004616;
  --chart-diverging-on-light-positive-light: #2A9742;
  --chart-diverging-on-light-positive-mid: #006E27;
  --chart-diverging-on-light-positive-subtle-dark: #00424F;
  --chart-diverging-on-light-positive-subtle-light: #2090A8;
  --chart-diverging-on-light-positive-subtle-mid: #016B83;
  --chart-sequential-on-dark-order1: #AEECFF;
  --chart-sequential-on-dark-order10: #03758A;
  --chart-sequential-on-dark-order2: #79E3FF;
  --chart-sequential-on-dark-order3: #67D5F1;
  --chart-sequential-on-dark-order4: #57C7E3;
  --chart-sequential-on-dark-order5: #46B9D5;
  --chart-sequential-on-dark-order6: #2EAFC0;
  --chart-sequential-on-dark-order7: #2B9DB7;
  --chart-sequential-on-dark-order8: #2090A8;
  --chart-sequential-on-dark-order9: #138299;
  --chart-sequential-on-light-order1: #2090A8;
  --chart-sequential-on-light-order10: #001F26;
  --chart-sequential-on-light-order2: #138299;
  --chart-sequential-on-light-order3: #03758A;
  --chart-sequential-on-light-order4: #016B83;
  --chart-sequential-on-light-order5: #005B6C;
  --chart-sequential-on-light-order6: #004E60;
  --chart-sequential-on-light-order7: #00424F;
  --chart-sequential-on-light-order8: #003641;
  --chart-sequential-on-light-order9: #002A33;
}
