:root {
  /* Chart Tokens - categorical from tokens/Chart.json */
  --chart-categorical-category1: #009ACE;
  --chart-categorical-category2: #38A18A;
  --chart-categorical-category3: #EB58BA;
  --chart-categorical-category4: #ED5E11;
  --chart-categorical-category5: #83985D;
  --chart-categorical-category6: #2EA549;
  --chart-categorical-category7: #2B9DB7;
  --chart-categorical-category8: #84939F;
  --chart-categorical-category9: #C78200;
  --chart-categorical-category10: #89938B;
  --chart-categorical-category11: #FF453A;
  --chart-categorical-category12: #A19200;
  --chart-diverging-on-dark-negative-dark: #ff453a;
  --chart-diverging-on-dark-negative-light: #ffdad6;
  --chart-diverging-on-dark-negative-mid: #ff9f95;
  --chart-diverging-on-dark-negative-subtle-dark: #c78200;
  --chart-diverging-on-dark-negative-subtle-light: #ffddb5;
  --chart-diverging-on-dark-negative-subtle-mid: #ff9f0a;
  --chart-diverging-on-dark-positive-dark: #2ea549;
  --chart-diverging-on-dark-positive-light: #6bff83;
  --chart-diverging-on-dark-positive-mid: #30d158;
  --chart-diverging-on-dark-positive-subtle-dark: #2b9db7;
  --chart-diverging-on-dark-positive-subtle-light: #aeecff;
  --chart-diverging-on-dark-positive-subtle-mid: #57c7e3;
  --chart-diverging-on-light-negative-dark: #7d0008;
  --chart-diverging-on-light-negative-light: #f73935;
  --chart-diverging-on-light-negative-mid: #c00013;
  --chart-diverging-on-light-negative-subtle-dark: #543500;
  --chart-diverging-on-light-negative-subtle-light: #b57700;
  --chart-diverging-on-light-negative-subtle-mid: #835500;
  --chart-diverging-on-light-positive-dark: #004616;
  --chart-diverging-on-light-positive-light: #2a9742;
  --chart-diverging-on-light-positive-mid: #006e27;
  --chart-diverging-on-light-positive-subtle-dark: #00424f;
  --chart-diverging-on-light-positive-subtle-light: #2090a8;
  --chart-diverging-on-light-positive-subtle-mid: #016b83;
  --chart-sequential-on-dark-order1: #aeecff;
  --chart-sequential-on-dark-order10: #03758a;
  --chart-sequential-on-dark-order2: #79e3ff;
  --chart-sequential-on-dark-order3: #67d5f1;
  --chart-sequential-on-dark-order4: #57c7e3;
  --chart-sequential-on-dark-order5: #46b9d5;
  --chart-sequential-on-dark-order6: #2eafc0;
  --chart-sequential-on-dark-order7: #2b9db7;
  --chart-sequential-on-dark-order8: #2090a8;
  --chart-sequential-on-dark-order9: #138299;
  --chart-sequential-on-light-order1: #2090a8;
  --chart-sequential-on-light-order10: #001f26;
  --chart-sequential-on-light-order2: #138299;
  --chart-sequential-on-light-order3: #03758a;
  --chart-sequential-on-light-order4: #016b83;
  --chart-sequential-on-light-order5: #005b6c;
  --chart-sequential-on-light-order6: #004e60;
  --chart-sequential-on-light-order7: #00424f;
  --chart-sequential-on-light-order8: #003641;
  --chart-sequential-on-light-order9: #002a33;
}
