:root {
  /* Primitive Tokens */
  --alpha-navy-0-pct: rgba(9, 23, 35, 0);
  --alpha-navy-10-pct: rgba(9, 23, 35, 0.1);
  --alpha-navy-20-pct: rgba(9, 23, 35, 0.2);
  --alpha-navy-30-pct: rgba(9, 23, 35, 0.3);
  --alpha-navy-40-pct: rgba(9, 23, 35, 0.4);
  --alpha-navy-50-pct: rgba(9, 23, 35, 0.5);
  --alpha-navy-60-pct: rgba(9, 23, 35, 0.6);
  --alpha-navy-70-pct: rgba(9, 23, 35, 0.7);
  --alpha-navy-80-pct: rgba(9, 23, 35, 0.8);
  --alpha-navy-90-pct: rgba(9, 23, 35, 0.9);
  --alpha-white-0-pct: rgba(255, 255, 255, 0);
  --alpha-white-10-pct: rgba(255, 255, 255, 0.1);
  --alpha-white-20-pct: rgba(255, 255, 255, 0.2);
  --alpha-white-30-pct: rgba(255, 255, 255, 0.3);
  --alpha-white-40-pct: rgba(255, 255, 255, 0.4);
  --alpha-white-50-pct: rgba(255, 255, 255, 0.5);
  --alpha-white-60-pct: rgba(255, 255, 255, 0.6);
  --alpha-white-70-pct: rgba(255, 255, 255, 0.7);
  --alpha-white-80-pct: rgba(255, 255, 255, 0.8);
  --alpha-white-90-pct: rgba(255, 255, 255, 0.9);
  --color-black: #000000;
  --color-blue-200: #bbf6e2;
  --color-blue-300: #8ce6d1;
  --color-blue-400: #68cdb5;
  --color-blue-500: #218fb7;
  --color-blue-accent: #009ace;
  --color-brand: #ff4f40;
  --color-green-300: #30db5b;
  --color-green-400: #30d158;
  --color-green-450: #34c759;
  --color-green-550: #248a3d;
  --color-green-accent: #44d12c;
  --color-grey-100: #f2f8f3;
  --color-grey-200: #e3ebe4;
  --color-grey-300: #c9d0c6;
  --color-grey-400: #aeb5a7;
  --color-grey-500: #75817e;
  --color-navy-600: #3b4c54;
  --color-navy-700: #2c3a43;
  --color-navy-800: #112231;
  --color-navy-900: #091723;
  --color-pink-300: #ffa9df;
  --color-red-450: #ff6961;
  --color-red-500: #ff453a;
  --color-red-550: #d70015;
  --color-red-accent: #ff3b30;
  --color-teal-550: #016b83;
  --color-white: #ffffff;
  --elevation-level1-blur: 8px;
  --elevation-level1-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  --elevation-level1-color: rgba(0, 0, 0, 0.16);
  --elevation-level1-h-offset: 0px;
  --elevation-level1-v-offset: 2px;
  --elevation-level2-blur: 16px;
  --elevation-level2-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  --elevation-level2-color: rgba(0, 0, 0, 0.16);
  --elevation-level2-h-offset: 0px;
  --elevation-level2-v-offset: 4px;
  --elevation-level3-blur: 32px;
  --elevation-level3-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.16);
  --elevation-level3-color: rgba(0, 0, 0, 0.16);
  --elevation-level3-h-offset: 0px;
  --elevation-level3-v-offset: 8px;
  --elevation-level4-blur: 48px;
  --elevation-level4-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.24);
  --elevation-level4-color: rgba(0, 0, 0, 0.24);
  --elevation-level4-h-offset: 0px;
  --elevation-level4-v-offset: 16px;
  --elevation-level5-blur: 64px;
  --elevation-level5-box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.24);
  --elevation-level5-color: rgba(0, 0, 0, 0.24);
  --elevation-level5-h-offset: 0px;
  --elevation-level5-v-offset: 32px;
  --motion-delay-base: 150ms;
  --motion-duration-extra-long: 400ms;
  --motion-duration-instant: 0ms;
  --motion-duration-long: 300ms;
  --motion-duration-medium: 200ms;
  --motion-duration-short: 100ms;
  --motion-duration-super-long: 600ms;
  --motion-easing-flow: cubic-bezier(0.22, 0, 0.12, 1);
  --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  --motion-easing-slow-down: cubic-bezier(0, 0, 0.12, 1);
  --motion-easing-speed-up: cubic-bezier(0.22, 0, 1, 1);
  --motion-spring-default-duration: 1000ms;
  --motion-spring-default-easing: linear(
    0,
    0.005,
    0.02 2%,
    0.081 4.5%,
    0.469 15.1%,
    0.567,
    0.65,
    0.723 24.3%,
    0.784,
    0.836 31%,
    0.879 34.7%,
    0.915 39%,
    0.943 43.7%,
    0.964 49%,
    0.979 55.2%,
    0.989 62.2%,
    0.995 71%,
    1
  );
  --motion-spring-default-friction: 24;
  --motion-spring-default-tension: 110;
  --motion-spring-gentle-duration: 667ms;
  --motion-spring-gentle-easing: linear(
    0,
    0.005,
    0.021 2.6%,
    0.048,
    0.086 5.7%,
    0.17 8.7%,
    0.475 18.5%,
    0.568,
    0.648,
    0.716,
    0.774,
    0.824 35.5%,
    0.866 39.2%,
    0.904 43.7%,
    0.935 48.5%,
    0.958 53.9%,
    0.975 59.9%,
    0.987 66.7%,
    0.994 74.8%,
    1
  );
  --motion-spring-gentle-friction: 24;
  --motion-spring-gentle-tension: 160;
  --motion-spring-slow-duration: 0.833s;
  --motion-spring-slow-easing: linear(
    0,
    0.005,
    0.02 2.1%,
    0.081 4.6%,
    0.468 15.5%,
    0.565,
    0.648 21.6%,
    0.719,
    0.781 28.1%,
    0.832 31.6%,
    0.875 35.3%,
    0.912 39.6%,
    0.94 44.4%,
    0.962 49.7%,
    0.978 56%,
    0.988 63%,
    0.994 71.7%,
    1
  );
  --motion-spring-slow-friction: 30;
  --motion-spring-slow-tension: 150;
  --size-10x-large: 960px;
  --size-11x-large: 1440px;
  --size-2x-large: 48px;
  --size-2x-small: 4px;
  --size-3x-large: 56px;
  --size-3x-small: 2px;
  --size-4x-large: 80px;
  --size-4x-small: 1px;
  --size-5x-large: 96px;
  --size-6x-large: 128px;
  --size-7x-large: 320px;
  --size-8x-large: 480px;
  --size-9x-large: 720px;
  --size-large: 24px;
  --size-medium: 16px;
  --size-small: 12px;
  --size-x-large: 36px;
  --size-x-small: 8px;
  --corner-radius-10x-large: 960px;
  --corner-radius-11x-large: 1440px;
  --corner-radius-2x-large: 48px;
  --corner-radius-2x-small: 4px;
  --corner-radius-3x-large: 56px;
  --corner-radius-3x-small: 2px;
  --corner-radius-4x-large: 80px;
  --corner-radius-4x-small: 1px;
  --corner-radius-5x-large: 96px;
  --corner-radius-6x-large: 128px;
  --corner-radius-7x-large: 320px;
  --corner-radius-8x-large: 480px;
  --corner-radius-9x-large: 720px;
  --corner-radius-large: 24px;
  --corner-radius-medium: 16px;
  --corner-radius-small: 12px;
  --corner-radius-x-large: 36px;
  --corner-radius-x-small: 8px;
  --spacing-2x-large: 48px;
  --spacing-2x-small: 4px;
  --spacing-3x-large: 64px;
  --spacing-3x-small: 2px;
  --spacing-4x-large: 80px;
  --spacing-5x-large: 96px;
  --spacing-6x-large: 128px;
  --spacing-large: 24px;
  --spacing-medium: 16px;
  --spacing-small: 12px;
  --spacing-x-large: 32px;
  --spacing-x-small: 8px;
  --type-font-family-content: Monzo Sans Text;
  --type-font-family-display: Monzo Sans Display;
  --type-line-height-default: 1.4;
  --type-line-height-large-heading: 1.2;
  --type-font-size-x-large: 32px;
  --type-font-size-large: 24px;
  --type-font-size-medium: 16px;
  --type-font-size-small: 12px;
  --type-font-size-x-small: 10px;

  /* Light Theme Semantic Tokens */
  --semantic-max-content-width: 960px;
  --semantic-action-fill-primary-default: var(--color-blue-500);
  --semantic-action-fill-primary-hover: var(--color-blue-500);

  --semantic-action-fill-secondary-default: var(--alpha-navy-10-pct);
  --semantic-action-fill-secondary-hover: var(--alpha-navy-20-pct);
  --semantic-action-outline-focus: #009ace;
  --semantic-backdrop: rgba(0, 0, 0, 0.3);
  --semantic-background-accent: #ff4f40;
  --semantic-background-overlay-dark: rgba(9, 23, 35, 0.3);
  --semantic-background-overlay-darker: rgba(9, 23, 35, 0.7);
  --semantic-background-overlay-light: rgba(255, 255, 255, 0.7);
  --semantic-background-overlay-lighter: rgba(255, 255, 255, 0.3);
  --semantic-background-primary: #ffffff;
  --semantic-background-secondary: #f2f8f3;
  --semantic-background-gradient: linear-gradient(
    161deg,
    #fff3e8 3.55%,
    #f2f8f3 59.38%,
    #e7f3f4 109.84%
  );
  --semantic-content-accent: #ff4f40;
  --semantic-content-disabled: rgba(9, 23, 35, 0.3);
  --semantic-content-link-default: #091723;
  --semantic-content-link-hover: #3b4c54;
  --semantic-content-negative: #d70015;
  --semantic-content-positive: #248a3d;
  --semantic-content-primary: #091723;
  --semantic-content-secondary: rgba(9, 23, 35, 0.6);
  --semantic-field-border-active: #091723;
  --semantic-field-border-default: rgba(9, 23, 35, 0.1);
  --semantic-field-border-disabled: rgba(9, 23, 35, 0.1);
  --semantic-field-border-error: #d70015;
  --semantic-field-border-hover: rgba(9, 23, 35, 0.3);
  --semantic-field-fill-active: #ffffff;
  --semantic-field-fill-default: #ffffff;
  --semantic-field-fill-disabled: rgba(9, 23, 35, 0.1);
  --semantic-field-fill-error: #ffffff;
  --semantic-field-fill-hover: #ffffff;
  --semantic-field-outline-focus: #009ace;
  --semantic-inverse-action-border-secondary-default: #ffffff;
  --semantic-inverse-action-border-secondary-disabled: rgba(255, 255, 255, 0.3);
  --semantic-inverse-action-border-secondary-loading: #ffffff;
  --semantic-inverse-action-fill-primary-active: #f2f8f3;
  --semantic-inverse-action-fill-primary-default: #ffffff;
  --semantic-inverse-action-fill-primary-disabled: rgba(255, 255, 255, 0.3);
  --semantic-inverse-action-fill-primary-hover: #e3ebe4;
  --semantic-inverse-action-fill-primary-loading: #ffffff;
  --semantic-inverse-action-fill-secondary-active: rgba(255, 255, 255, 0.2);
  --semantic-inverse-action-fill-secondary-hover: rgba(255, 255, 255, 0.1);
  --semantic-inverse-background-overlay-dark: rgba(255, 255, 255, 0.3);
  --semantic-inverse-background-overlay-darker: rgba(255, 255, 255, 0.7);
  --semantic-inverse-background-overlay-light: rgba(9, 23, 35, 0.3);
  --semantic-inverse-background-overlay-lighter: rgba(255, 255, 255, 0.1);
  --semantic-inverse-background-primary: #112231;
  --semantic-inverse-background-secondary: #091723;
  --semantic-inverse-content-disabled: rgba(255, 255, 255, 0.3);
  --semantic-inverse-content-link-default: #ffffff;
  --semantic-inverse-content-link-hover: #c9d0c6;
  --semantic-inverse-content-negative: #ff6961;
  --semantic-inverse-content-positive: #30db5b;
  --semantic-inverse-content-primary: #ffffff;
  --semantic-inverse-content-secondary: rgba(255, 255, 255, 0.9);
  --semantic-inverse-separator: rgba(255, 255, 255, 0.1);
  --semantic-neutral-dark: #75817e;
  --semantic-neutral-darker: #3b4c54;
  --semantic-neutral-darkest: #2c3a43;
  --semantic-neutral-light: #c9d0c6;
  --semantic-neutral-lighter: #e3ebe4;
  --semantic-neutral-lightest: #f2f8f3;
  --semantic-product-flex-build: #ffa9df;
  --semantic-product-flex-purchase: #016b83;
  --semantic-separator: rgba(9, 23, 35, 0.1);
}

[data-theme="dark"] {
  /* Dark Theme Semantic Tokens */
  --semantic-action-border-secondary-default: #ffffff;
  --semantic-action-border-secondary-disabled: rgba(255, 255, 255, 0.1);
  --semantic-action-border-secondary-loading: #ffffff;
  --semantic-action-fill-primary-active: #f2f8f3;
  --semantic-action-fill-primary-default: #ffffff;
  --semantic-action-fill-primary-disabled: rgba(255, 255, 255, 0.1);
  --semantic-action-fill-primary-hover: #e3ebe4;
  --semantic-action-fill-primary-loading: #ffffff;
  --semantic-action-fill-secondary-active: rgba(255, 255, 255, 0.2);
  --semantic-action-fill-secondary-hover: rgba(255, 255, 255, 0.1);
  --semantic-action-outline-focus: #009ace;
  --semantic-backdrop: rgba(0, 0, 0, 0.3);
  --semantic-background-accent: #ff4f40;
  --semantic-background-overlay-dark: rgba(255, 255, 255, 0.3);
  --semantic-background-overlay-darker: rgba(255, 255, 255, 0.7);
  --semantic-background-overlay-light: rgba(9, 23, 35, 0.3);
  --semantic-background-overlay-lighter: rgba(255, 255, 255, 0.1);
  --semantic-background-primary: #112231;
  --semantic-background-secondary: #091723;
  --semantic-content-accent: #ff4f40;
  --semantic-content-disabled: rgba(255, 255, 255, 0.3);
  --semantic-content-link-default: #ffffff;
  --semantic-content-link-hover: #c9d0c6;
  --semantic-content-negative: #ff6961;
  --semantic-content-positive: #30db5b;
  --semantic-content-primary: #ffffff;
  --semantic-content-secondary: rgba(255, 255, 255, 0.6);
  --semantic-field-border-active: #ffffff;
  --semantic-field-border-default: rgba(255, 255, 255, 0.1);
  --semantic-field-border-disabled: rgba(255, 255, 255, 0.1);
  --semantic-field-border-error: #ff6961;
  --semantic-field-border-hover: rgba(255, 255, 255, 0.3);
  --semantic-field-fill-active: #112231;
  --semantic-field-fill-default: #112231;
  --semantic-field-fill-disabled: rgba(255, 255, 255, 0.1);
  --semantic-field-fill-error: #112231;
  --semantic-field-fill-hover: #112231;
  --semantic-field-outline-focus: #009ace;
  --semantic-inverse-action-border-secondary-default: #091723;
  --semantic-inverse-action-border-secondary-disabled: rgba(9, 23, 35, 0.3);
  --semantic-inverse-action-border-secondary-loading: #091723;
  --semantic-inverse-action-fill-primary-active: #112231;
  --semantic-inverse-action-fill-primary-default: #091723;
  --semantic-inverse-action-fill-primary-disabled: rgba(9, 23, 35, 0.3);
  --semantic-inverse-action-fill-primary-hover: #2c3a43;
  --semantic-inverse-action-fill-primary-loading: #091723;
  --semantic-inverse-action-fill-secondary-active: rgba(9, 23, 35, 0.2);
  --semantic-inverse-action-fill-secondary-hover: rgba(9, 23, 35, 0.1);
  --semantic-inverse-background-overlay-dark: rgba(9, 23, 35, 0.3);
  --semantic-inverse-background-overlay-darker: rgba(9, 23, 35, 0.7);
  --semantic-inverse-background-overlay-light: rgba(255, 255, 255, 0.7);
  --semantic-inverse-background-overlay-lighter: rgba(255, 255, 255, 0.3);
  --semantic-inverse-background-primary: #ffffff;
  --semantic-inverse-background-secondary: #f2f8f3;
  --semantic-inverse-content-disabled: rgba(9, 23, 35, 0.3);
  --semantic-inverse-content-link-default: #091723;
  --semantic-inverse-content-link-hover: #3b4c54;
  --semantic-inverse-content-negative: #d70015;
  --semantic-inverse-content-positive: #248a3d;
  --semantic-inverse-content-primary: #091723;
  --semantic-inverse-content-secondary: rgba(9, 23, 35, 0.9);
  --semantic-inverse-separator: rgba(9, 23, 35, 0.1);
  --semantic-neutral-dark: #c9d0c6;
  --semantic-neutral-darker: #e3ebe4;
  --semantic-neutral-darkest: #f2f8f3;
  --semantic-neutral-light: #75817e;
  --semantic-neutral-lighter: #3b4c54;
  --semantic-neutral-lightest: #2c3a43;
  --semantic-product-flex-build: #ffa9df;
  --semantic-product-flex-purchase: #016b83;
  --semantic-separator: rgba(255, 255, 255, 0.1);
}
