.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.headerTrailing {
  display: flex;
  gap: var(--spacing-x-small, 8px);
}

.actionGroup {
  display: flex;
  gap: var(--spacing-2x-small, 4px);
  padding: var(--spacing-3x-small, 2px);
  border-radius: var(--corner-radius-medium, 16px);
  background-color: var(--semantic-background-secondary);
}
